<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="defaultPushSource" value="2437Productions" />
  </config>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json"/>
    <add key="2437Productions" value="https://pkgs.dev.azure.com/2437Productions/_packaging/2437Productions/nuget/v3/index.json" />
  </packageSources>
</configuration>